.footer {
    background-color: #77608d;
    display: grid;
    grid-area: footer;
    padding: 15px;
    grid-template: 1fr 1fr / 1fr minmax(auto, 200px) minmax(auto, 1100px) 1fr;
    grid-template-areas:
        ". above above above"
        "copy . . text"
    ;
    align-items: center;
    color:#fff;

    .above {
        grid-area: above;
        margin: 0 0 10px 0;
    }

    .copy {
        grid-area: copy;
        grid-column: 2/3;
    }
    
    .text {
        grid-area: text;
        grid-column: 3/4;
        text-align: right;
    }
    
}