.header {
        grid-area: header;
        background-color: #387434;
        padding: 15px;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 100px) minmax(auto, 1100px) 1fr;
        align-items: center;

        &__logo {
            padding: 0 0 100% 0;
            width: 150px;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            background-color: #fff;
            grid-column: 2/3;
        }
        &__logo img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;	
            top: 0;
            left: 0;
        }
        

        &__list {
            display: grid;
            grid-auto-flow: column;
            grid-column: 3/4;
            justify-items: end;
        }

        &__link {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            line-height: 40px;
            font-weight: bold;
            display: inline-block;
            position: relative;
        }

        &__link::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &__link:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
}

@media (max-width: 900px) {
    .header__list {
        display: none;
    }
}