.forselers__forselersimg {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: 0 0 0 0;
}
.forselers__forselersimg img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 770px) {
  .forselers {
    display: grid;
    grid-template: 1fr/2fr 1fr;
  }
}
@media (max-width: 435px) {
  .forselers__forselersimg {
    width: 100%;
  }
}