.services {
  margin: 0 0 30px 0;
}
.services__divider {
  border: 1px solid #DCDCDC;
  margin: 0 0 100px 0;
}
.services__linkToGallery {
  display: grid;
  grid-template: 1fr/1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__servicesimg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0 20px 0;
}
.services__servicesimg img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.services__trueLink:hover {
  text-decoration: underline;
}
.services .recrut {
  display: grid;
  grid-template: 1fr/3fr 2fr;
  margin: 0 0 100px 0;
}
.services .recrut__title {
  margin: 0 20px 0 0;
}
.services .recrut__services {
  width: 360px;
  height: 290px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: 0 0 20px 0;
}
.services .recrut__services img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.services .arenda {
  display: grid;
  grid-template: 1fr/3fr 2fr;
}
.services .arenda__title {
  margin: 0 20px 0 0;
}
.services .arenda__services {
  width: 360px;
  height: 290px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: 0 0 20px 0;
}
.services .arenda__services img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.services__whychoseus {
  margin: 0 0 100px 0;
}
.services__positions {
  margin: 0 0 100px 0;
}
.services .positions__list li {
  background: green;
  padding: 5px;
  margin-bottom: 5px;
  color: #fff;
  border-radius: 5px;
}
.services .positions__row {
  margin-bottom: 15px;
}
.services__otherhr {
  margin: 0 0 100px 0;
}
.services .ourClients__clientCard {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
}