.pages {
    margin-top: 50px;
}

.paginationLinkStyle {
	background-color: green !important;
	border-radius: 5px;
	margin-right: 5px !important;

	&:hover {
		background-color: #772e2e !important;
		border-radius: 5px !important;
		font-weight: bold !important;
		color: #fff !important;
	}
}

.paginationArrowLinkStyle {
	font-weight: bold !important;
	font-size: 14px !important;
	&:hover {
		background-color: #ccc !important;
		border-radius: 5px !important;
	}
}

.forMargin {
	margin-right: 5px !important;
}

//активный
.actived{
	background-color: #772e2e !important;
	color: #fff !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	margin-right: 5px !important;
}



